.about-company {
  background: #f7f7f7;
  position: relative;
  overflow: hidden;
  padding:50px 0;
  &:before {
    content: "";
    background: url(../img/domov/pozadie-2.png) no-repeat;
    width: 100%;
    height: 100%;
    top: -100px;
    left: -300px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-size: contain;
  }

  &__title {
    color: #ff6700;
    text-align: center;
    font-size: 48px;
    margin: 50px 0;
    font-weight: bold;
    @media (max-width: 576px) {
          font-size: 32px;
          margin-top: 20px;
        }
  }

  &__img {
    width: 100%;
    border-radius: 30px;
    &-wrap {
      margin: 50px 0;
      @media (max-width: 992px) {
          margin: 15px 0;
        }
    }
  }
}
