.acordeon {
  background: #f7f7f7;
  border-radius: 45px;
  &-wrapper{
      margin: 100px 0;
      @media (max-width: 576px) {
          margin:50px 0;
        }
  }
  &-open {
    opacity: 0;
  }
  &-title {
    background: #ff6700;
    border-radius: 45px;
    padding: 20px 80px;
    position: relative;
    display: flex;
    align-items: center;
    transition: linear 0.2s all;
        @media (max-width: 992px) {
        padding: 10px 50px;
        }
        @media (max-width: 572px) {
        padding: 10px 20px;
        }

    &:before,
    &:after {
      content: "";
      background: white;
      width: 26px;
      height: 4px;
      display: block;
      position: absolute;
      right: 5%;
      top: 50%;
      border-radius: 3px;
        @media (max-width: 572px) {
            height: 2px;
            width: 16px;
        }
    }
    &:after {
      transform: rotate(270deg);
      transition: linear 0.4s all;
      opacity: 1;
    }

    & a {
      color: white !important;
      font-size: 24px;
      text-transform: uppercase;
      outline: none;
        @media (max-width: 992px) {
        font-size: 18px;
        text-transform: none;
         }
      &:hover {
        text-decoration: none;
      }
    }
    &--opened{
        background: #0f1a6f;
        transition: linear 0.2s all;
        opacity: 1;
        &:after{
            transition: linear 0.4s all;
            transform: rotate(0deg);
            opacity: 0;
        }
    }
  }
  &-content {
    font-size: 18px;
    color: #0f1a6f !important;
    padding: 30px 60px;
        @media (max-width: 992px) {
        padding: 30px;
        margin: 0;
        }
        @media (max-width: 572px) {
        padding: 15px;
        }
    & div {
      margin: 25px 0;
    }
  }
}
