.breadcrumb {
  background: none;
  margin: 25px 0;
  @media (max-width: 1200px) {
    margin-top: 0px;
  }
  @media (max-width: 572px) {
    padding: 10px 0;
  }
  &-link {
    font-size: 14px;
    color: #0f1a6f !important;
    @media (max-width: 572px) {
      font-size: 12px;
    }
    &:hover {
      text-decoration: none;
    }
    &--active {
      color: #ff6700 !important;
    }
  }
}