.feature {
  background: #f7f7f7;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 30px 0;
  }
  &:before {
    content: "";
    background: url(../img/domov/pozadie-2.png) no-repeat;
    width: 100%;
    height: 100%;
    top: -100px;
    left: -300px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  }
  &:after {
    content: "";
    background: url(../img/domov/pozadie-2.png) no-repeat;
    width: 1000px;
    height: 300px;
    bottom: -100px;
    right: -200px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  }
  &-item {
    text-align: center;
    &__img {
      &-wrap {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__title {
      font-size: 24px;
      color: #0f1a6f;
      margin: 20px 0;
      font-weight: bold;
    }
  }

  &-number {
    margin: 100px 0;
    position: relative;

    &-item {
      padding: 60px 0;
      @media (max-width: 992px) {
        padding: 20px 0;
        text-align: center;
      }
      &__title {
        font-size: 72px;
        color: white;
        font-weight: bold;
        @media (max-width: 1200px) {
          font-size: 52px;
        }
        @media (max-width: 992px) {
          font-size: 32px;
        }
      }
      &__subtitle {
        font-size: 20px;
        color: white;
      }
    }
  }
}



.feature-numbers:before {
  content: "";
  position: absolute;
  background: #ff6700;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2%;
  border-radius: 120px 0 0 120px;
  @media (max-width: 576px) {
    left: 0;
    border-radius: 50px 0 0 50px;
  }
}