.hero {
  display: flex;
  align-items: center;
  border-radius: 0px 0px 50px 50px;
  background: url(../img/other/home_page.jpg) no-repeat;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 820px;
    @media (max-width: 1400px) {
        height: auto;
    }
    @media (max-width: 1200px) {
        background-size: auto;
        border-radius: 0;
    }
    @media (max-width: 767px) {
        height: auto;
    }
    
  
    &:before{
    background: #f7f7f7;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -10;
    }
}
.hero-box {
  margin-top: 200px;
  &__title {
    width: 80%;
    margin: auto;
    font-size: 56px;
    color: white;
    text-align: center;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 36px;
    }
  }
  &__content {
    color: white;
    font-size: 18px;
    padding: 50px 0;
    width: 60%;
    margin: auto;
    font-weight: 300;
    @media (max-width: 992px) {
      width: 100%;
      padding: 25px 0;
    }
  }
}


.hero__title-span {
  color: #ff7e26;
}

.container{
  max-width: 1300px !important;
}