.our-team {
  background: #ff6700;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 576px) {
    padding: 50px 0; 
  }
  &:before {
    content: "";
    background: url(../img/domov/services-bcg.png) no-repeat;
    width: 550px;
    height: 550px;
    top: 0;
    right: -50px;
    bottom: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-size: contain;
    margin: auto;
  }
  &__title {
    color: white;
    text-align: center;
    font-size: 48px;
    margin: 50px 0;
    font-weight: bold;
      @media (max-width: 576px) {
          font-size: 32px;
        }
  }
  &-item {
    text-align: center;
    margin: 20px 0;
    &__img {
      height: 250px;
      width: 250px;
      border-radius: 100%;
      object-fit: cover;
      margin: 15px 0;
    }

    &__name {
      color: white;
      font-size: 32px;
      font-weight: bold;
       @media (max-width: 576px) {
          font-size: 26px;
        }
    }
    &__position {
      color: white;
      font-size: 32px;
      font-weight: 300;
      @media (max-width: 576px) {
          font-size: 22px;
        }
    }
  }
}
