.partners {
  background: #0f1a6f;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  @media (max-width: 576px) {
          padding-bottom:50px;
        }
  &-box{
    padding-right: 40px;
    @media (max-width: 576px) {
          padding-right:0;
        }
  }

  &:before {
    content: "";
    //background: url(../img/domov/pozadie-2.png) no-repeat;
    width: 550px;
    height: 550px;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-size: contain;
    margin: auto;
  }

  &__title {
    color: white;
    text-align: center;
    margin: 50px 0;
    font-size: 48px;
    font-weight: bold;
     @media (max-width: 576px) {
          font-size: 32px;
        }
  }
  &-box {
    &__title{
      &:hover{
        transition: linear 0.2s all;
        color: #ff6700;
      }
    }
    margin: 30px 0 100px 0;
    @media (max-width: 992px) {
          margin: 10px 0;
        }


    &__link {
      color: white !important;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      &:hover {
        text-decoration: none;
      }
    }
    &__subtitle {
      color: white;
      font-size: 16px;
      font-weight: 500;
    }
    &__title {
      position: relative;
      padding-bottom: 10px;
      &:before {
        position: absolute;
        content: "";
        background: #ff6700;
        left: 0;
        bottom: 0;
        width: 40px;
        height: 1px;
      }
    }
    &__img {
      margin: 30px 0;
      width: 248px;
      @media (max-width: 576px) {
          margin: 10px 0;
          width: auto;
        }
    }
  }
}
