.properties {
  background: #0f1a6f;
  color: white;
  padding: 100px 0;
  @media (max-width: 576px) {
    padding-top: 50px;
    padding-bottom: 70px;

  }
  &-box {
    margin: 50px 0;
    padding-right: 80px;
    @media (max-width: 767px) {
      padding: 0;
    }
    &__img {
      &-wrap {
        @media (max-width: 576px) {
          text-align: center;
        }
      }
    }
    &__list {
      margin: 0;
      list-style: none;
      margin-top: 30px;
      &-item {
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        &:before {
          content: "";
          background: url(../img/other/mark.svg) no-repeat;
          height: 20px;
          width: 20px;
          margin-left: 10px;
          position: absolute;
          left: -40px;
          top: 7px;
        }
      }
    }
    &__title {
      font-size: 32px;
      font-weight: bold;
      padding: 30px 0;
      position: relative;
      @media (max-width: 567px) {
        text-align: center;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 55px;
        background: #ff6700;
        height: 3px;
        @media (max-width: 567px) {
          text-align: center;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}
