.about {
  &-hero {
    height: 820px;
    display: flex;
    align-items: center;
    background: url(../img/other/onas.jpg) no-repeat;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 150px;
    border-radius: 0 0 50px 50px;
    background-size: cover;
      @media (max-width: 1400px) {
      background-size:auto;
      }
      @media (max-width: 1200px) {
        border-radius: 0;
      }
  }
  &-box {
    color: white;
    width: 80%;
    margin: auto;
      @media (max-width: 992px) {
        width: 100%;
        margin-top: 100px;
      }
      @media (max-width: 576px) {
          margin-top: 50px;
        }
    &__title {
      font-size: 56px;
      margin-bottom: 30px;
      font-weight: bold;
      @media (max-width: 576px) {
          font-size: 36px;
        }
      @media (max-width: 375px) {
          font-size: 30px;
        }  
    }

    &__subtitle {
      font-size: 22px;
      font-weight: 400;
        @media (max-width: 576px) {
          font-size: 18px;
        }
    }
  }
}

.about-front {
  background: #f7f7f7;
  position: relative;
  overflow: hidden;
  padding:50px 0;
  &:before {
    content: "";
    background: url(../img/domov/pozadie-2.png) no-repeat;
    width: 850px;
    height: 100%;
    bottom: -250px;
    right: 0px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  }

  &-box {
    margin: 50px 0;

    &__title{
      color: #ff6700;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
    }

    &__content {
      width: 80%;
      margin: auto;
      padding: 50px 0;
      font-size: 18px;
      color: #0f1a6f;
      &-span{
        color: #ff6700;
        font-weight: bold;
      }
      @media (max-width: 992px) {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
}

