.authorization {
  background: #0f1a6f;
  padding: 50px 0;
  @media (max-width: 572px) {
      padding: 10px 0;
    }

  &__title {
    font-size: 48px;
    color: white;
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  &__content {
    color: white;
    font-size: 18px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    @media (max-width: 767px) {
      margin: 0;
      width: 100%;
    }
  }

  &-box {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    color: #0f1a6f;
    @media (max-width: 767px) {
      text-align: center;
      padding: 25px 0;
    }
    &__img {
      &-wrap {
        height: 130px;
        @media (max-width: 767px) {
          margin-bottom: 10px;
          height: auto;
        }
      }
    }
    &__content {
      margin: 0;
      &-span {
        color: #ff6700;
        font-weight: bold;
      }
      &-wrap {
        height: auto;
        @media (max-width: 992px) {
          height: auto;
        }
      }
    }

    &__bcg {
      padding: 50px 0;
    }
    &__wrap {
      position: relative;
      z-index: 0;
      display: flex;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        background: white;
        top: 0;
        width: 99%;
        z-index: -1;
        border-radius: 200px 0 0 200px;
        height: 100%;
        @media (max-width: 1300px) {
          width: 100%;
        }
        @media (max-width: 992px) {
          border-radius: 100px 0 0 100px;
        }
      }
    }
  }
}
