.balteus-hero {
  height: 820px;
  display: flex;
  align-items: center;
  background: url("../img/balteus_oz/oz_pozadie.png") no-repeat 100%;
  background-position: right;
  background-size: cover;
  position: relative;
  padding-top: 200px;
  background-position: bottom;
  border-radius: 0 0 50px 50px;
    background-color: white;
    z-index: 1;
  @media (max-width: 1200px) {
    border-radius: 0;
   
  }
  @media (max-width: 576px) {
    background: none;
    background-color: white;
    padding-top: 140px;
  }

  &-box {
    width: 60%;
      @media (max-width: 992px) {
        width: 100%;
        background: #ffffffd4;
        padding: 20px;
        margin: 20px 0;
      }
      @media (max-width: 576px) {
          padding: 0px;
        }
    &__title {
      font-size: 48px;
      color: #ff6700;
      @media (max-width: 992px) {
        font-size: 32px;
      }
      @media (max-width: 576px) {
          font-size: 26px;
        }
      
    }
    &__subtitle {
      font-size: 72px;
      color: #0f1a6f;
      position: relative;
      padding-bottom: 40px;
      font-weight: bold;
      @media (max-width: 992px) {
        font-size: 52px;
      }
      @media (max-width: 576px) {
        font-size: 32px;
        padding-bottom: 20px;

      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: #ff6700;
        height: 5px;
        width: 140px;
      }
    }

    &__content {
      font-size: 18px;
      color: #0f1a6f;
      margin: 40px 0;
      @media (max-width: 576px) {
        margin: 20px 0;

      }
    }
  }
}
