.blog-hero {
  border-radius: 0 0 50px 50px;
  background: url(../img/other/eurofondy.jpg) no-repeat;
  height: 820px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1200px) {
    background-size: auto;
    border-radius: 0;
  }

  &__title {
    font-size: 56px;
    color: white;
    text-align: center;
    margin: 100px 0;
    font-weight: bold;
    @media (max-width: 992px) {
    font-size: 46px;
  }
    @media (max-width: 572px) {
      font-size: 36px;
    }
  }
}

.blog-post-items .single-blog .blog__content .blog__title {
  font-size: 24px;
  position: relative;
  color: white;
}

.blog-post-items .single-blog {
  background: #FF6700;
  border-radius: 25px;
  margin: 25px 0;
  padding-bottom: 50px;
  top: -150px;
  position: relative;
  padding-top: 0;
  border:1px solid #FF6700;
}
.blog-post-items .single-blog .blog__content {
  padding: 25px;
}

.blog-post-items .single-blog .blog__text {
  font-size: 16px;
  color: white;
  width: 100%;
}
.blog__button {
  color: #ff7e26 !important;
  font-size: 16px;
}

.blog-boxs__link:hover {
  text-decoration: none;
}

.post-1,
.post-1048{
  background: #1225B9 !important;
  border:1px solid #1225B9 !important;
}
.blog-front-boxs.post-1.post.type-post.status-publish.format-standard.hentry.category-nezaradene-sk div a div div .blog-front__title:before,
.blog-front-boxs.post-1048.post.type-post.status-publish.format-standard.hentry.category-nezaradene div a div div .blog-front__title:before {
  
  background: #ffffffd4 !important;

}

.front-blog-items.wp-query-blog {
    top: -200px;
    position: relative;
    @media (max-width: 572px) {
      top: 0;
    }
}

.single-blog .blog__content div div div .post-1 {
    background: none !important;
    border: none !important;
}

.single-blog .blog__content div div div .post-1048 {
    background: none !important;
    border: none !important;
}