.blog-front {
  padding-top: 70px;
  padding-bottom: 50px;
  background: url(../img/other/blog_home_page.jpg) no-repeat;
  background-size: cover;
  @media (max-width: 992px) {
    padding: 0;
  }

  &__headline {
    color: white;
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    font-size: 48px;
    @media (max-width: 992px) {
      font-size: 32px;
    }
  }
  &__btn {
    &-wrap {
      text-align: center;
      margin: 100px 0;
    }
  }
  &__title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    @media (max-width: 1200px) {
        font-size: 22px;
      }
    &:before{
      position: absolute;
      content: '';
      height: 2px;
      width: 35px;
      bottom: 0;
      left: 0;
      background: #773912;
    }
    &-wrap {
      height: auto;
        @media (max-width: 992px) {
        height: auto;
      }
    }
  }
  &__text {
    color: white;
    font-size: 16px;
    height: 100px;
    font-weight: 400;
    margin-top: 10px;
    @media (max-width: 1200px) {
      height: auto;
    }
  }
  &-boxs {
    background: #ff6700;
    border-radius: 20px;
    margin: 20px 0 !important;
    border:1px solid #ff6700;
    &__link {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    padding: 50px 50px 20px 50px;
    height: 300px;
       @media (max-width: 1200px) {
        height: 350px;
      }
      
      @media (max-width: 992px) {
        height: 300px;
      }
      @media (max-width: 767px) {
        height: auto;
      }
    
  }
  &-single {
    padding-bottom: 50px;
  }
  &__button {
    padding-left: 50px;
    z-index: 9;
    position: relative;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    &-wrap {
      position: relative;
      padding: 10px 0;
      display: flex;
      align-items: center;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        width: 70%;
        background: white;
        border-radius: 0 30px 30px 0;
        height: 100%;
      }
    }
  }
}

.blog-front__button:hover .references-box__icon,
.references-box__detail:hover .references-box__icon {
  margin-left: 20px;
  transition: linear 0.2s all;
}
