.companies {
  padding: 50px 0;
  @media (max-width: 576px) {
    padding: 25px 0;
  }
}
.company-box {
  text-align: center;
  height: auto;
  margin-bottom: 40px;
  @media (max-width: 992px) {
    height: auto;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
  }
  &__title {
    color: #0f1a6f !important;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
    &:hover{
      text-decoration: none;
    }
    @media (max-width: 576px) {
      font-size: 26px;
    }
    &-wrap {
      padding-top: 50px;
      @media (max-width: 767px) {
        padding-top: 20px;
      }
    }
  }
  &__content {
    color: #0f1a6f;
    font-size: 18px;
    width: 50%;
    margin: auto;
    @media (max-width: 992px) {
      width: 80%;
    }
    @media (max-width: 576px) {
      width: 100%;
      font-size: 16px;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    width: 200px;
    opacity: 0.2;
    object-fit: contain;
    height: 100%;
      @media (max-width: 767px) {
      display: none !important;
    }
  }
}
