.comments {
  background: #f7f7f7;
  padding: 100px 0;
  &__title {
    text-align: center;
    font-size: 48px;
    color: #0f1a6f;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  &__item {
    color: #0f1a6f;
    font-size: 18px;
    padding-left: 90px;
       @media (max-width: 767px) {
        padding-left: 0px;
      }
    &-wrap {
      width: 70%;
      margin: auto;
      padding: 30px 0;
      @media (max-width: 992px) {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
  &__img {
    margin-right: 20px;
    float: left;
    @media (max-width: 767px) {
      float: none;
      margin: 0;
    }
    &-wrap {
      @media (max-width: 767px) {
        text-align: center;
        margin: 20px 0;
      }
    }
  }
}
