.contact-hero {
  border-radius: 0 0 50px 50px;
  background: url(../img/other/kontakt.jpg) no-repeat;
  padding-top: 200px;
  background-color: #0c1c69;
  height:820px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-size: cover;
  @media (max-width: 1200px) {
      border-radius: 0;
      }
  @media (max-width: 992px) {
    height: auto;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 56px;
    color: white;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    @media (max-width: 576px) {
          font-size: 32px;
          margin-top: 0;
        }
  }
  &__img {
    width: 35px;
    margin-right: 10px;
  }
  &__item {
    color: white !important;
    font-size: 36px;
    display: flex;
    margin: 20px 0;
    font-weight: bold;
    @media (max-width: 576px) {
          margin: 5px 0;
        }
    &:hover {
      text-decoration: none;
    }

    @media (max-width: 1200px) {
      font-size: 26px;
      display: block;
      text-align: center;
    }
  }

  &__address {
    &-item {
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-title {
      color: #ff7e26;
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    &-wrap {
      display: inline-block;
      padding: 40px;
      padding-bottom: 100px;
      position: relative;
      @media (max-width: 1200px) {
        padding: 20px;
      }
      @media (max-width: 992px) {
        padding: 20px;
        display: block;
        text-align: center;
      }
      @media (max-width: 576px) {
          padding:10px 0;
        }
      &:after {
        position: absolute;
        content: "";
        background: #ff7e26;
        height: 160px;
        top: 20px;
        right: 0;
        bottom: auto;

        z-index: 1;
        width: 1px;
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
}

.contact-map {
  position: relative;
  top: 30px;

  & iframe {
    width: 100%;
    height: 600px;
    @media (max-width: 767px) {
      height: 400px;
    }
  }
}

.contact-form-title {
  text-align: center;
  font-size: 48px;
  color: #0f1a6f;
  margin: 50px 0;
  font-weight: bold;
  @media (max-width: 576px) {
          font-size: 32px;
        }
}
.contact__img{
  @media (max-width: 576px) {
          width: 200px;
        }
  
}
.contact__img-wrap {
  display: flex;
  height: 100%;
  padding: 0 150px 0 0;
  @media (max-width: 992px) {
    padding: 0;
    display: block;
    text-align: center;
    margin-top: 50px;
  }
}

label,
span.wpcf7-form-control-wrap input,
select {
  width: 100%;
  outline: none;
}
select {
  background: #ff6700 !important;
  padding: 15px 20px !important;
  color: white !important;
}
select.wpcf7-form-control.wpcf7-select {
  color: white !important;
  margin: 5px 0;
  outline: none;
  
}

.contact-form input,
.contact-form textarea,
select {
  background: #eeeeee;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  color: #0F1A6F !important;
  font-size: 18px;
  outline: none;
}
.contact-form label {
  color: #0F1A6F !important;
  font-size: 18px;
  font-weight: bold;
  @media (max-width: 576px) {
        text-align: left;

      }
}
.contact-form .btn__main {
  color: white !important;
}

.contact-form{
  padding:50px 0;
  @media (max-width: 576px) {
          padding:0;
        }
}


.wpcf7-email {
  border-radius: 20px !important;
  background: transparent;
  border: 2px solid white !important;
  margin: 10px 0;
  color: white !important;
}
form.wpcf7-form.init {
  @media (max-width: 992px) {
    text-align: center;
  }
}
.wpcf7 .ajax-loader {
  margin: auto;
  display: flex;
}


.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output{
  color: #dc3232;
}

.col-sm-12.col-md-12.col-lg-10.offset-lg-2 > .contact-hero__address-wrap:first-child {
    @media (max-width: 576px) {
          margin-top: 30px;
        }
}