.footer {
  background: #0f1a6f;
  border-radius: 30px 30px 0px 0px;
  padding: 50px 0;
  position: relative;
}

.footer__img-wrap {
  margin: 60px 0px 20px 0px;
  @media (max-width: 992px) {
    text-align: center;
    margin: 20px 0;
  }
}


.newsletter__title {
  color: white;
  font-size: 24px;
  @media (max-width: 992px) {
    margin-top: 30px;
    text-align: center;
  }
}


.footer__social {
  padding: 0;
  margin: 0;
  @media (max-width: 992px) {
    text-align: center;
    margin: 20px 0;
  }
  &-item {
    display: inline-block;
    padding: 0 5px;
  }
}

.footer__address {
  padding: 0;
  margin: 0;
  color: white;
  list-style: none;
  @media (max-width: 992px) {
    text-align: center;
    margin: 20px 0;
  }
}







.activities:before {
  content: "";
  background: url(../img/balteus_oz/gulky_oranzove_pattern.svg) no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  background-position: left center;
}
.activities {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
.activities__title,
.companies__title {
  text-align: center;
  font-size: 48px;
  color: #ff6700;
  margin: 50px 0;
  font-weight: bold;
  @media (max-width: 992px) {
    font-size: 32px;
  }
  @media (max-width: 576px) {
    font-size: 26px;
    margin-bottom: 10px !important;
  }
}

.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  border-radius: 30px;
  height: 500px;
  object-fit: cover;
  width: 100%;
  @media (max-width: 992px) {
    height: auto;
  }
}

.blog__title {
  font-size: 36px;
  color: #0f1a6f;
  position: relative;
  margin: 30px 0;
  padding-bottom: 20px;
  @media (max-width: 572px) {
    font-size: 22px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58px;
    height: 3px;
    background: #ff6700;
  }
}



.blog__text {
  width: 80%;
  color: #0f1a6f;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.main-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-item {
  color: white;
  padding: 0 15px;
  font-weight: bold;
  @media (max-width: 992px) {
    padding: 0px;
    }
  & a {
    color: white;
    font-size: 18px;
    outline: none;
    @media (max-width: 1200px) {
      color: #ff6700 !important;
    
    }
    @media (max-width: 576px) {
    padding: 10px 0;
    }
    &:hover {
      color: #ff6700 !important;
      transition: linear 0.2s all;
      text-decoration: none;
      outline: none;
    }
  }
}

.header__logo {
  width: 100%;
  height: 80px;
  width: 220px;
  @media (max-width: 1200px) {
      height: auto;
    
    }
}
.header__logo-wrap {
  height: 100%;
  display: block;
  align-items: center;
}

.offers__title {
  text-align: center;
  color: #0f1a6f;
  font-size: 48px;
  margin: 100px 0;
  font-weight: bold;
  @media (max-width: 576px) {
          font-size: 32px;
          margin: 50px 0;
        }
}

.services-items {
  padding-top: 200px;
    position: relative;
  background: white;
  @media (max-width: 572px) {
      padding-top: 20px;
      top:0;
    }
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  background: transparent;
  border: none;
  font-size: 0;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  &.slick-next {
    right: 20%;
    @media (max-width: 992px) {
      right: 0;
    }
    &:before {
      content: "\003E";
      color: #ff6700;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 5px !important;
      font-size: 40px;
    }
  }
  &.slick-prev {
    left: 20%;
    @media (max-width: 992px) {
      left: 0;
    }

    &:before {
      content: "\003C";
      color: #ff6700;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 5px !important;
      font-size: 40px;
    }
  }
}

.header-search__wrap {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  @media (max-width: 1200px) {
      position: absolute;
      display: block;
    }
    @media (max-width: 576px) {
          text-align: end;
          position: relative;
        }
  
}

.search__img-wrap{
  @media (max-width: 1200px) {
    display: block;
    position: absolute;
    top: -5px;
    right: -50px;
  }
  @media (max-width: 767px) {
    top: -60px;
    right: 0;
  }
}

.header-search {
  background: none;
  border: none !important;
  border-bottom: 1px solid white !important;
  outline: none;
  color: white !important;
  width: 150px;
  margin-right: 5px;
  opacity: 0;
  visibility: hidden;
}






.quality {
  position: relative;
  top: -45px;
}

.acordeon__img-wrap {
  display: inline-flex;
  width: 40px;
  margin-right: 20px;
}

.shrink {
  background: #0f1a6f;
  width: 100%;
  position: fixed !important;
  opacity: 1;
  transition: linear 0.2s all;
  padding: 5px 0;
  box-shadow: 0px 0px 4px #020b52;
  @media (max-width: 576px) {
    top: 0;
  }
}

.referencie-template-default .site-header,
.post-template-default .site-header,
.page-id-72 .site-header,
.page-id-401 .site-header {
  background: #0f1a6f;
}

.site-header.shrink .header-bcg:before {
  background: none;
}
.site-header.shrink{
  padding: 0 !important;
  @media (max-width: 1200px) {
    padding: 15px 0;
    
  }
}
.page-id-72 .site-header .header-bcg {
  
  @media (max-width: 576px) {
    padding: 15px 0;
    
  }
}
.page-id-72 .shrink .header__logo {
  padding: 10px 20px;
  @media (max-width: 1200px) {
    padding: 0;
    height: 40px;
  }
}
.shrink .header-bcg .main-navigation.menu-toggle.menu__btn-bar {
  background: white;
}




.single-blog {
  padding-top: 190px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top:140px;
  }
}

.menu__btn-bar {
  background: #0f1a6f;
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  transition: all 0.2s linear;
  border-radius: 25px;
}
.menu__btn-bar:nth-child(1) {
  top: 2px;
}

.menu__btn-bar:nth-child(2) {
  top: 11px;
  width: 80%;
}

.menu__btn-bar:nth-child(3) {
  top: 11px;
  width: 80%;
}

.menu__btn-bar:nth-child(4) {
  top: 20px;
}

.menu-opened .menu__btn-bar:nth-child(1) {
  top: 12px;
  transform: rotateZ(135deg);
}
.menu-opened .menu__btn-bar:nth-child(2) {
  opacity: 0;
}

.menu-opened .menu__btn-bar:nth-child(3) {
  opacity: 0;
}

.menu-opened .menu__btn-bar:nth-child(4) {
  top: 12px;
  transform: rotateZ(45deg);
}

.menu-toggle {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5%;
  top: 0;
  background: transparent;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  outline: none !important;
  z-index: 9999;
  @media (max-width: 1200px) {
    display:block;
    top:15px;
  }
}


.row.front-blog-items > div:nth-child(odd) .blog-front-boxs,
.blog-post-items  div div div:nth-child(odd) .single-blog
 {
    background: #0F1A6F;
    border:1px solid #0F1A6F;
}

.row.front-blog-items > div:nth-child(odd) .blog-front-boxs .blog-front-boxs__link .blog-front-single .blog-front__content .blog-front__title-wrap.blog-front__title:before{
  background: #0F1A6F;
}


.col-sm-12.col-md-12.col-lg-10.offset-lg-2 >div:last-child:after {
    background: none;
}

.menu-toggle:after {
    position: absolute;
    width: 50px;
    content: '';
    z-index: -10;
    height: 50px;
    top: -12px;
    left: -10px;
    border-radius: 85px;
}

.toggled{
  height: 100vh;
}

.counter{
  margin-right: 10px;
}

#footer-menu{
  margin: 0;
  padding:0;
  list-style: none;
  margin:20px 0;
  @media (max-width: 992px) {
    text-align: center;
  }
}

#footer-menu>.menu-item:last-child a {
    color: white !important; 
}
#footer-menu>.menu-item a {
     color: white !important;
}

#footer-menu>.menu-item:last-child {
    border-left: none;  
}

#footer-menu >.menu-item{
  padding: 5px 0 0 0;
}

.page-footer-menu__bcg {
    background: #0f1a6f;
    text-align: center;
    padding: 200px 0 100px 0px;
    color: white;
    @media (max-width: 992px) {
    padding: 200px 0 50px 0px;;
   }
   @media (max-width: 576px) {
    padding: 150px 0 50px 0px;;
  }
}

.page-footer-menu__content {
    margin: 100px;
    @media (max-width: 992px) {
    margin: 50px 0;
  }
  @media (max-width: 767px) {
    margin: 20px 0;
  }
}

.page-footer-menu__title {
  @media (max-width: 767px) {
    font-size: 24px;
  }
    
}

.navigation-paginate {
    text-align: center;
    margin: 20px 0;
}

.wp-paginate a {
    background: none !important;
    border: none !important;
    color: #0F1A6F !important;
    font-weight: 500;
    font-size: 18px;
}

.wp-paginate .current{
  background: none !important;
  color: #DF6718 !important;
  border:none !important;
  font-size: 18px;
  font-weight: bold;
}

.wp-paginate .prev, .wp-paginate .next {
    top: 4px;
    position: relative;
    font-size: 32px;
}

.page-none {
    padding: 200px 0;
    background: #0d1552;
    color: white;
}


.search-max {
    background: white;
    padding: 50px 0;
    margin: 20px 0;
    opacity: 0;
    visibility: hidden;
    display: none;
}


.show {
  transition: linear 0.2s all;
  opacity: 1;
  visibility: visible;
  display: block;
}

.search__link{
  background: transparent;
  border: none;
  @media (max-width: 1200px) {
    padding-right: 10px;
  }
  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.search-max-wrap{
  text-align: center;
  &__input{
    border: none !important;
    border-bottom: 2px solid #0d1552 !important;
    color: #0d1552 !important;
    padding: 5px 10px !important;
    outline: none;
    
  }
  &__btn{
    background: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
  }
}


.back-to-top{
  display: block;
  z-index: 999;
  position: fixed;
  right: 30px;
  background: #FF6700;
  width: 50px;
  height: 50px;
  color: white !important;
  border-radius: 40px;
  bottom: 30px;
  &:hover{
    text-decoration: none;
  }
}

.fas.fa-arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.lang-item {
    display: inline-block;
    margin-left: 20px;
    position: relative;
      @media (max-width: 374px) {
        margin-left: 15px;
      }
    & a{
      color: white;
      font-size: 22px;
      @media (max-width: 576px) {
          font-size: 18px;
        }
        @media (max-width: 374px) {
          font-size: 14px;
        }
    }
}

.lang-item-first:after {
    content: '\007C';
    color: #FF6700;
    top:-2px;
    font-size: 22px;
    position: absolute;
    right: -14px;
    @media (max-width: 576px) {
          top:-5px;
        }
}

.current-lang a{
  color: #FF6700 !important;
}







.header-bcg .lang-item a {
  @media (max-width: 1200px) {
    color: #091a67 ;
  }
    
}
.header-bcg .current-lang a {
  @media (max-width: 1200px) {
    color: #FF6700 ;
  }
    
}
.shrink .current-lang a{
  @media (max-width: 1200px) {
    color: #FF6700 ;
  }

}



.header-bcg .current-menu-item a{
  color: #FF6700 ;

}

.shrink .lang-item a {
    color: white ;
}




input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    padding: 10px 20px;
    border-radius: 30px !important;
}



    .footer__social-wrap{
      height: 135px;
    display: flex;
    align-items: center;
      @media (max-width: 767px) {
      display: block;
      height: auto;
      }
    }


    .results-bcg.references-detail-items-bcg {
    top: -55px !important;
    @media (max-width: 576px) {
          top:0 !important;
        }
}



.wpcf7 form.sent .wpcf7-response-output{
  color: #46b450;
}






/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 130px;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }