

.pre-header-list {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
  @media (max-width: 767px) {
    text-align: left;
    margin-bottom: 10px;
  }
  &__item {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
     @media (max-width: 576px) {
      font-size: 14px;
      }
      @media (max-width: 375px) {
      padding-left: 5px;
      font-size: 12px;
    }
    & a {
      color: white;
      &:hover {
        text-decoration: none;
      }
      & img {
        margin-right: 10px;
          @media (max-width: 576px) {
            margin-right: 5px;
            }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.header-bcg:before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
  border-radius: 0 56px 56px 0;
  width: 35%;
   @media (max-width: 6400px) {
    width: 44%;
  }
  @media (max-width: 4000px) {
    width: 40%;
  }
  @media (max-width: 3300px) {
    width: 38%;
  }
   @media (max-width: 2500px) {
    width: 36%;
  }
  @media (max-width: 2000px) {
    width: 32%;
  }

  @media (max-width: 1680px) {
    width: 30%;
  }
  @media (max-width: 1450px) {
    width: 28%;
   
  }
  @media (max-width: 1300px) {
    width: 25%;
   
  }
  
   @media (max-width: 1200px) {
    width: 100%;
    border-radius: 0;
  }
  @media (max-width: 572px) {
    width: 100%;
  }
}

.menu-item:last-child {
  border-left: 1px solid white;
  @media (max-width: 1200px) {
    border-left: none;
  }
}


.lang {
  float: right;
  color: white;
  margin-left: 15px;
  margin-bottom: 0;
   @media (max-width: 1200px) {
    color: #ff7e26;
  }
}

.pre-header{
  @media (max-width: 1200px) {
    padding-bottom: 20px;
  }
   @media (max-width: 767px) {
    padding-bottom: 0;
  }
}



.site-header {
  padding: 25px 0;
  position: absolute;
  z-index: 999;
  transition: linear 0.2s all;
  opacity: 1;
  width: 100%;
   @media (max-width: 767px) {
    padding: 10px 0;
  }
}
.header-bcg {
  position: relative;
  padding: 16px 0;
}

 .search-section {
    padding-top: 200px;
    color: #0f1a6f;
}

.search-box {
    background: #0f1a6f;
    border-radius: 30px;
}

#masthead.search-results {
  background: #0f1a6f;
}

h2.entry-title.entry-title-search.blog-front__content {
    height: 220px;
    @media (max-width: 767px) {
    height: auto;
    padding: 30px;
  }
}

h2.entry-title.entry-title-search.blog-front__content a {
    color: white;
}

header#masthead.search-no-results {
    background: #0f1a6f;
}

.toggled-view {
    height: 100vh;
    overflow: hidden;
}