.btn__main {
  background: #ff6700 !important;
  color: white !important;
  font-size: 22px;
  padding: 17px 40px !important;
  border-radius: 35px !important;
  border: none !important;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
  &:hover {
    background: #df6718 !important;
    text-decoration: none;
    transition: linear 0.2s all;
    box-shadow: 0 8px 15px #df681879;
  }
  &-wrap {
    text-align: center !important;
    margin: 50px 0;
  }
}

.title__main {
  color: #f36306;
  font-size: 48px;

  &-wrap {
    text-align: center;
    margin: 20px 0;
  }
}



.title__second {
  color: #0f1a6f;
  font-size: 48px;
  font-weight: bold;
  @media (max-width: 992px) {
    font-size: 32px;
  }
  &-wrap {
    text-align: center;
    margin: 100px 0;
    @media (max-width: 992px) {
      margin: 30px 0;
    }
  }
}

.offers {
    position: relative;
    background: white;
    @media (max-width: 767px) {
    top: 0;
  }
}

.alm-btn-wrap .alm-load-more-btn{
  font-size:22px !important;
  height: auto !important;
}

.results-bcg.quality-bcg {
    top: -15px !important;
}

.results-bcg.offers-bcg {
    top: 0 !important;
}

.archive .header-bcg div div .col-4.col-sm-6.col-md-6.col-lg-7 nav div .menu .current-menu-item__archive a{
  color: #FF6700 !important;
}


.referencie-template-default .header-bcg div div .col-4.col-sm-6.col-md-6.col-lg-7 nav div .menu .current-menu-item__archive a{
  color: #FF6700 !important;
}


.post-template-default .header-bcg div div .col-4.col-sm-6.col-md-6.col-lg-7 nav div .menu .current_page_parent a{
  color: #FF6700 !important;
}


.shrink .header-bcg div div .col-4.col-sm-6.col-md-6.col-lg-7 nav .menu-toggle .menu__btn-bar {
  background: white !important;
}