.recommend {
  background: #ff6700;
  padding: 100px 0;
  color: white;
  position: relative;
  &:before {
    content: "";
    background: url(../img/domov/services-bcg.png) no-repeat;
    width: 100%;
    height: 400px;
    top: 0px;
    left: -30px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-size: contain;
  }
  &:after {
    content: "";
    background: url(../img/detail_referencie/ziarovka_biela_ikonka.png)
      no-repeat;
    width: 300px;
    height: 150px;
    bottom: -20px;
    left: 200px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    @media (max-width: 992px) {
      left: 0;
      bottom: -10px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }
  &__btn {
    &-wrap {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      @media (max-width: 992px) {
        margin-bottom: 50px;
      }
    }
  }
  &-wrap {
    position: relative;
    z-index: 0;
    padding: 30px 0;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      background: white;
      top: 0;
      height: 100%;
      z-index: -1;
      width: 35%;
      border-radius: 150px 0 0 150px;
      @media (min-width: 2300px) {
        width: 40%;
        
      }
      
      @media (max-width: 992px) {
        width: 100%;
        background: #ffffff36;
        border-radius: 0;
      }
    }
    &:before {
      content: "";
      background: url(../img/detail_referencie/ziarovka_modra.svg) no-repeat;
      width: 150px;
      height: auto;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 0;
      overflow: hidden;
      background-size: contain;
      margin: auto;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}


section.recommend-wrapper:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff6700;
    top: 40px;
    bottom: -10px;
    z-index: 0;
    left: 0;

}


.recomment-wrapper:before {
    position: absolute;
    content: '';
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff6700;
    z-index: -10;
    bottom: -150px;
}