.references {
  background: url(../img/other/realizovane_projekty.jpg) no-repeat;
  display: flex;
  align-items: center;
  height: 820px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0 0 50px 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  @media (max-width: 1200px) {
    background-size: auto;
    border-radius: 0;
  }

  &__btn {
    &-wrap {
      text-align: center;
      margin: 20px 0;
      padding: 20px 0;
    }
  }
  &-items {
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -60px;
    background: white;
    padding: 50px 0;
    @media (max-width: 572px) {
      top: 0px;
      padding:15px 0;
    }
  }

  &__title {
    color: white;
    margin: 40px 0;
    font-size: 56px;
    font-weight: bold;
    @media (max-width: 776px) {
      font-size: 36px;
    }
  }
  &__content {
    color: white;
    width: 80%;
    font-size: 22px;
    @media (max-width: 992px) {
      width: 100%;
      font-size: 20px;
    }
  }
  &-box {
    margin: 30px 0;
    &__icon {
      margin-left: 10px;
    }
    &__title {
      color: #0f1a6f;
      font-size: 24px;
      height: 100px;
      margin-bottom: 20px;
      font-weight: bold;
        @media (max-width: 1200px) {
          font-size: 20px;
          
        }
        @media (max-width: 767px) {
          height: auto;
          
        }
      & a{
          color:#0F1A6F;
          &:hover{
            text-decoration: none;
          }
      }
    }
    &__img {
      border-radius: 20px 20px 0 0;
      height: 300px;
      object-fit: cover;
      width: 100%;
       @media (max-width: 767px) {
          height:auto;
        }
    }
    &__content {
      background: #f7f7f7;
      border-radius: 0 0 20px 20px;
      padding: 30px;
    }
    &__detail {
      color: #ff7e26 !important;
      font-size: 16px;
      font-weight: bold;

      &-wrap {
        margin-bottom: 20px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}


.mobile-view{
  display: none;
  @media (max-width: 767px) {
          display:block;
        }
}

.pc-view{
  display: block;
  @media (max-width: 767px) {
          display:none;
        }

}