.references-detail {
  padding-top: 190px;
  padding-bottom: 100px;
  @media (max-width: 576px) {
          padding-top:140px;
          padding-bottom: 50px;
        }
  &__img {
    border-radius: 30px;
    margin-bottom: 30px;
    height: 500px;
    width: 100%;
    object-fit: cover;
    @media (max-width: 992px) {
      height:auto;
    }
  }
  &__btn {
    text-align: left !important;
    margin-top: 50px!important;
    margin-bottom: 100px !important;
  }
  &__title {
    color: #0f1a6f;
    font-size: 48px;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 36px;
    }
    @media (max-width: 576px) {
      font-size: 26px;
    }
  }
  &__company {
    font-size: 32px;
    color: #ff6700;
    margin-bottom: 50px;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 26px;
    }
    @media (max-width: 576px) {
      font-size: 22px;
    }
  }
  &__about {
    font-size: 18px;
    color: #0f1a6f;
    margin: 50px 0;
    width: 80%;
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 576px) {
          margin-top: 30px;
          margin-bottom: 0;
        }
  }
  &-items {
    background: #f7f7f7;
    padding-bottom: 50px;
    &-bcg {
      position: relative;
      top: -75px !important;
      @media (max-width: 992px) {
        top: 0;
      }
      &:before {
        background: #0f1a6f;
      }
    }
    &__text {
      
      &-wrap {
        height: 100%;
        align-items: center;
        display: flex;
        & ul {
          font-size: 18px;
          color: #0f1a6f;
        }
        & p{
          font-size: 18px;
          color: #0f1a6f;
          margin-bottom: 50px;
            @media (max-width: 576px) {
              margin-top: 10px;
             }

        }
      }
    }
    &__group {
      padding-bottom: 100px;
        @media (max-width: 572px) {
        padding: 10px 0;
      }
    }
    &__img {
      width:200px;
      @media (max-width: 576px) {
          width:120px;
          display: none;
        }
      &-wrap {
        text-align: end;
        @media (max-width: 1300px) {
          
          margin: 20px 0;
        }
        
        @media (max-width: 992px) {
          text-align: center;
          margin: 20px 0;
        }
      }
    }
  }
}

.references-detail__btn.btn__main-wrap {
    text-align: left !important;
    margin-bottom: 50px !important;
    @media (max-width: 992px) {
          
          margin: 10px 0 !important;
        }
}

.results-bcg.references-detail-bcg {
    top: 0px !important;
}
.results-bcg.references-detail-bcg {
    top: -10px !important;
}


.references-detail-items__group-about{
  padding: 40px 0;
}