.front-references {
  padding: 100px 0;
  @media (max-width: 576px) {
    padding: 50px 0;
  }
  &__title {
    font-size: 48px;
    color: #0f1a6f;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 32px;
    }
  }
  &__btn {
    &-wrap {
      text-align: center;
      margin: 20px 0;
      padding: 20px 0;
    }
  }
}
