.results {
  padding-bottom: 50px;
  top: -45px;
  position: relative;
  @media (max-width: 992px) {
    top: 0;
  }
  &__img {
    margin-right: 20px;
    @media (max-width: 1295px) {
      right: 5%;
      left: auto;
      height: 40px;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }
  &__title {
    color: white;
    font-size: 36px;
    font-weight: bold;
      @media (max-width: 767px) {
        font-size: 26px;
      }
        @media (max-width: 572px) {
        font-size: 20px;
      }
    &-wrap {
      display: flex;
    }
  }
  &-item {
    text-align: center;
    margin-top: 100px;
    @media (max-width: 992px) {
      margin-top: 50px;
    }
    &__img {
      width: 200px;
    }
    &__text {
      font-size: 36px;
      color: #0f1a6f;
      margin-top: 20px;
      font-weight: 600;
      @media (max-width: 992px) {
        font-size: 32px;
      }
    }
  }
  &-bcg {
    position: relative;
    padding: 30px 0;
    top: -50px !important;
    @media (max-width: 767px) {
      padding: 15px 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 60%;
      height: 100%;
      z-index: 0;
      top: 0;
      background: #ff6700;
      border-radius: 0 90px 90px 0;
      @media (max-width: 1295px) {
        width: 100%;
      }
    }
  }
}
