.services-hero {
  display: flex;
  height: 820px;
  align-items: center;
  background: url(../img/other/sluzby.jpg) no-repeat;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  background-size: cover;
    @media (max-width: 1200px) {
      background-size: auto;
      border-radius: 0;
    }
    @media (max-width: 576px) {
      height: 800px;
    }

  &-box {
    width: 80%;
    color: white;
    @media (max-width: 992px) {
      margin: 0;
      width: 100%;
    }
    &__title {
      font-size: 56px;
      color: white;
      margin-bottom: 20px;
      font-weight: bold;
      @media (max-width: 576px) {
        font-size: 36px;
      }
    }
    &__content {
      font-size: 22px;
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
}

.services {
  background: #0f1a6f;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  &:before {
    content: "";
    background: url(../img/domov/services-bcg.png) no-repeat;
    width: 100%;
    height: 100%;
    top: -100px;
    left: -120px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  }

  &__title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 32px;
    }
    &-wrap {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
      @media (max-width: 992px) {
        margin-top: 50px;
      }
    }
  }

  &-box {
    background: white;
    padding: 30px;
    margin: 40px 0;
    border-radius: 20px;
    height: 400px;
      @media (max-width: 1200px) {
        height: 500px;
      }
      @media (max-width: 1024px) {
        height: 550px;
      }
      @media (max-width: 992px) {
        height: 400px;
      }
      @media (max-width: 767px) {
        height: auto;
      }
    &__img {
      margin-bottom: 20px;
      width: 85px;
    }
    &__content {
      
      &-wrap{
        & p{
          font-size: 16px;
          color: #0f1a6f;
          overflow: hidden;

        }
      }
    }

    &__title {
      font-size: 20px;
      color: #0f1a6f;
      position: relative;
      padding-bottom: 10px;
      font-weight: bold;
      @media (max-width: 992px) {
        font-size: 18px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 36px;
        left: 0;
        bottom: 0;
        background: #df6718;
        height: 2px;
      }
    }
  }
}

.services-items .test:nth-child(even) {
  background: #f7f7f7;
}

section.services-items:before {
    position: absolute;
    content: '';
    width: 100%;
    z-index: -1;
    background: #f7f7f7;
    height: 100%;
}

.test {
    padding: 20px 0;
}
.services-items-bcg.results-bcg.references-detail-items-bcg {
    top: -75px !important;
    @media (max-width: 572px) {
      top: -20px !important;
    }
}