.work-with {
  &:after {
    bottom: 0;
    right: 0;
    z-index: -10;
    content: "";
    background: url(../img/balteus_oz/gulky_modre_pattern.svg);
    position: absolute;
    width: 500px;
    overflow: hidden;
    height: 500px;
    background-size: contain;
  }
  background: #0f1a6f;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  top: -50px;
  padding-top: 50px;
  &__title {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 100px 0;
    font-weight:bold;
    @media (max-width: 572px) {
      font-size: 32px;
      margin: 40px 0;
    }
  }
  &-box {
    text-align: center;
      @media (max-width: 767px) {
        
        margin-bottom: 40px;
      }
    &__title {
      color: white;
      font-size: 18px;
      margin: 20px 0;
      font-weight: 300;
      & p{
        text-align: center !important;
      }
    }
  }
}
